.title-text{
    text-align: center;
}
.name {
    margin: 200px 0 0 100px;
    font-size: 25px;
    font-weight: 600; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
hr {
    width: 300px;
    margin: 0 0 0 100px;
    border: 1px solid black;
}
.work {
    margin: 5px 0 0 150px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}
.font_icon{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}
li:hover{
    color: orange;
}